@tailwind base;
@tailwind components;
@tailwind utilities;

.gridd {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 1rem;
  min-height: 700px;
  background-color: rgb(18, 7, 58);
}

.icon {
  transform: translate(25px, 5px);
  /* position:absolute */
  color: rgb(111, 118, 118);
}

.gridauto {
  display: grid;
  grid-auto-flow: column;  
  overflow-x: scroll;
}

.item {
  width: 500px;
}

.gridrec {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(100px, auto));
}